certifi==2019.11.28
chardet==3.0.4
chembl-webresource-client==0.10.0
Click==7.0
easydict==1.9
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
requests==2.22.0
requests-cache==0.5.2
urllib3==1.25.8
Werkzeug==1.0.0
