<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>pChEMBL Heatmap</title>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/d3.v4.js"></script>
    <script src="/static/js/d3-tip.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css" />
  </head>

  <body>
    <div id="app">
      <div class="heatmap-container">
        <span class="heatmap-title">pChEMBL Heatmap</span>
      </div>
    </div>
    <div id="pchembl"></div>
    <script type="text/javascript" src="/static/js/all.js"></script>
  </body>
</html>
